.contentCard{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px 30px;
}

.statusCircle{
  height: 80px;
  width: 80px;
  border: 3px solid #fff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.memberPhoto{
  width: 150px;
  height: 150px;
  background: grey;
  border: 1px solid #0a7295;
  border-radius: 1rem;
}